/* =============Common styles ===========*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a { 
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;}
body {
font-family: "Roboto", sans-serif;
background-color: #fff;
color: #434455;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
    margin-right: auto; 
}
/*============ /Common styles============= */

/* ===========Page header styles========== */

.page-header-container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu>:last-child {
    margin-right: 0;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.web-text {
    color: #2e2f42;
}
.current {
    position: relative;
    color: #404BBF;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-list>:last-child {
    margin-right: 0;
}
.contact-menu {
    font-style: normal
}
.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* =============/Page header styles========== */
/* =============Hero section styles========== */
.hero-section {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-section-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-section-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-section-btn:hover,
.hero-section-btn:focus {
    color: #fff;
    background: #404bbf;
}
/* ===============/Hero section styles========= */

/* ===============Benefits section styles====== */

.benefits-item-logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: auto;
    padding-right: auto;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    fill: none;
}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-container {
    display: flex;
}
.benefits-container-list {
    display: flex;
    gap: 24px;
}
.benefits-container-list>:last-child {
    margin-right: 0
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* =============/Benefits section styles===== */
/* ============Team section styles=========== */
.team-section {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}
.team-list {
    display: flex;
    gap: 24px;
} 

.team-item-class {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}

.team-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}
.information-container {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.social-link-list {
    display: flex;
    gap: 24px;
}

.socail-link {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.socail-link:hover {
    fill: #f4f4fd;
    background-color: #404bbf;
}

/* =============/Team section styles======== */

/* =============Portfolio section styles==== */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    background: #fff;
    width: calc((100% - 48px) / 3);
}
.portfolio-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 72px;
}

  
.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ===============Page footer styles=========== */
.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.page-footer-container {
    display: inline-block;
    margin-left: 156px;
    margin-right: 120px;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}
.web-text-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    
}

.text-footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;    
}
.social-media-container {
    display: inline-block;
    justify-content: space-between;
    align-items: center;

}

.social-media-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.social-link-footer {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 16px;
}
.social-link-footer:hover {
    fill: #f4f4fd;
    background-color: #404bbf;
}
.social-link-list-footer {
    display: flex;
    gap: 16px;
}

/* ===============/Page footer styles ===========*/